/* custom style for e-technik */
html, body {
    /*height: 100%;*/
    background: #fff;
    background-image: none;

}

.navbar-default {
	border-color: rgb(0,118,189);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: rgb(0,118,189);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: rgb(0,118,189);
}
.navbar-default .navbar-toggle {
	border-color: rgb(0,118,189);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: rgb(0,118,189);
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		background-color: rgb(0,118,189);
	}
}



ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    background: rgb(0,118,189);
    border: 1px solid rgb(0,118,189);
}

#jumbotron {
    background: url(../img/e-technik/e-technik_big-opt.jpg) no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    
}