html, body {
    /*height: 100%;*/
    background: #fff;
    background-image: none;

}

.navbar-default {
	border-color:rgb(53,62,72);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color:rgb(53,62,72);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color:rgb(53,62,72);
}
.navbar-default .navbar-toggle {
	border-color:rgb(53,62,72);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color:rgb(53,62,72);
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		background-color:rgb(53,62,72);
	}
}



ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    background:rgb(53,62,72);
    border: 1px solid rgb(53,62,72);
}

#jumbotron {
    background: url(../img/leitstellen/leitstelle-titelbild.png) no-repeat;
    background-size:cover;
    background-position: center;
    width:100%;
    height:100%;
    
}

.reference-logo img {
    width: 100%;
    
}
.reference-filter {
    filter: grayscale(100%);
    min-height:100px;
    border:1px solid #fff;
    padding:5px;
}
.reference-filter:hover {
	filter: none;
    transition: filter 0.3s ease;
    border: 1px solid #eee;
    transition: border 0.3s ease;
}
