<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block head_title %}Management {% if title %}| {{ title }}{% endif %}{% endblock %}</title>
<!-- Bootstrap -->
<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
{% block body %}

{% block header %}
{% endblock header %}
{% block layout %}
<div class="container-fluid">
    {% block content %}
    {% endblock content %}
</div>
{% endblock layout %}
{% endblock body %}
{% block offshore %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>


{% endblock offshore %}

</body>
</html>