{% extends "gal/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">Login</div>
	<div class="panel-body">
	<form action="{% url 'django.contrib.auth.views.login' %}" method="post">
	{% csrf_token %}
	{% bootstrap_form form %}
	<input type="submit" value="Login" />
	<input type="hidden" name="next" value="{{ next }}" />
	</form>
	</div>
</div>
{% endblock %}