{% extends "haselsite/bs3_subsite.html" %}

{% block title %}Haselmaier Group: Leitstellen, Einrichtungskonzepte, Tischlerei, Elektrotechnik{% endblock %}

{% block css_at_top %}
<link rel="stylesheet" href="{{STATIC_URL}}css/group.css">
{% endblock %}


{% block navigation %}dd
    {% include "haselsite/navigation.html" with active="group" %}
{% endblock %}


{% block jumbotron %}
<div id="jumbotron">


    <div id="logo_wrapper">
        <div class="col-xs-12 col-md-8 col-lg-6" id="logo">
            
            
            <a class="innerside-nav" href="#group" >
                <img src="{{ STATIC_URL }}img/corporatedesign/group_logo.png" alt="Haselmaier Group Logo" style="width: 100%" />
                <br/>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            
        </div>
    </div>

</div>
{% endblock %}



{% block content_container %}

            <div class="row">
                
                <div class="col-md-3 hidden-xs hidden-sm" id="contentScrollspy">
                    <ul class="nav nav-tabs nav-stacked affix" id="myAffix"><!-- data-spy="affix"  data-offset-top="160" -->
                        <li class="active"><a class="innerside-nav" href="#group">Haselmaier Group</a></li>
                        <li><a class="innerside-nav" href="#geschichte">Geschichte</a></li>
                        <li><a class="innerside-nav" href="#handwerk">Handwerk</a></li>
                        <li><a class="innerside-nav" href="#zukunft">Zukunft</a></li>
                    </ul>
                </div>
                
                
                <div class="col-md-6" id="start_affix_contentarea">


<div id="group" class="affix_contentarea">
    <h1>Die Haselmaier Gruppe</h1>
    <h2>Eine runde Sache</h2>
    <p class="">
      Die Haselmaier Gruppe vereint vier Kompetenzbereiche unter einem Dach: Tischlerhandwerk, Einrichtungskonzepte, Möbel für Leitstellen und Elektrotechnik. Im Verbund entstehen Synergien und starke Lösungen für den Kunden.
    </p>
    <p class="">
      Am Anfang war die Tischlerei. Ein Familienbetrieb, der 1932 gegründet und über die Generationen weitergegeben wurde. Wie sich ein Baum verzweigt, folgten im Laufe der Jahre weitere Geschäftszweige, die aus dem gemeinsamen Stamm gewachsen sind und ineinander greifen: Leitstellen, Wohn-Art und Elektrotechnik. 
    </p>
    <p class="">
      Heute präsentiert sich Haselmaier als Unternehmensgruppe, die ihre Wurzeln kennt, und sich auf Komplettlösungen spezialisiert hat.
    </p>
    

        <div class="hidden-xs">
            <video width="100%" controls poster="http://assets.haselmaier.at/besprechungfarbefinal.jpg" id="bgvid" >
                  
                <!-- Serve video content via streaming server -->
                <source src="http://assets.haselmaier.at/besprechungfarbefinal.webm" type="video/webm">
                <source src="http://assets.haselmaier.at/besprechungfarbefinal.mp4" type="video/mp4">
                <source src="http://assets.haselmaier.at/besprechungfarbefinal.ogg" type="video/ogg">
            
            </video>
        
            <!--
            <img src="{{STATIC_URL}}img/wohn-art/IMG_6663-5.jpg" width="100%" alt="" />
            -->
            <p>
              Wir bringen Experten aus den Bereichen Handwerk, Technik, Ergonomie an einen Tisch und machen
              daraus starke Lösungen.
            </p>
        </div>
        
        
    
</div>

<div id="geschichte" class="affix_contentarea">
    <h2>Kluge Einfälle schreiben Geschichte</h2>

    <dl class="dl-horizontal">
      <dt>1932</dt>
      <dd>
        Alois Haselmaier eröffnet in Neustift bei Scheibbs eine Tischlereiwerkstatt. Die maschinelle Ausstattung besteht aus einer kombinierten Kreissäge-Abrichthobelmaschine und einer Tischfräse. 1940 wird er zum Militär einberufen. Erst im November 1947 kehrt er aus russischer Gefangenschaft zurück und führt die Tischlerei weiter. 1951 treten Sohn Alfred und Neffe Alois in den Betrieb ein.  
      </dd>
      
      <dt>1972</dt>
      <dd>
        Alfred Haselmaier übernimmt von seinem Vater die Tischlerei. Er baut das Werkstättengebäude auf ca. 340 m2 aus, stattet es mit weiteren Maschinen aus und stellt neue Mitarbeiter ein. Die Ausbauphase wird durch seinen Unfalltod 1981 unterbrochen.
      </dd>
      
      
      <dt>1992</dt>
      <dd>
        Wolfgang Haselmaier führt den elterlichen Betrieb fort. Der Mitarbeiterstand wird ausgebaut, das Betriebsgebäude um 1200 m2 erweitert und die Technik auf computergesteuerte Maschinen umgestellt. Im Jahre 1997 wird die Idee geboren, Leitstellentische zu bauen. Im Laufe der Jahre wird dieses Thema immer wichtiger, die Marktnachfrage steigt und die ersten Tische mit verstellbarer Höhe werden gebaut.
      </dd>
      
      
      <dt>2001</dt>
      <dd>
        Die Geburtsstunde von Wohn-Art. 2006 belegt der Einrichtungsspezialist innerhalb der Jungunternehmen in Österreich den 67. Platz. 2010 wird Wohn-Art als eigenständiges Unternehmen in die Haselmaier-Gruppe eingegliedert.
      </dd>
      
      
      <dt>2010</dt>
      <dd>
        Die Haselmaier Elektro-Technik GmbH wird gegründet. Neben Dienstleistungen im Bereich der Elektrotechnik entwickelt das Unternehmen auch Steuerungen für Leitstellentechnik.
      </dd>
      
      <dt>2018</dt>
      <dd>
        Gründung der Haselmaier Leitstellen GmbH, um den Fokus auf die Technologieführerschaft bei der Fertigung von Leitstellen im DACH-Raum noch weiter zu stärken. 
        Mit Lukas Haselmaier ist nun inzwischen die vierte Generation am (Hand-)Werk.
      </dd>
      

    </dl>



</div>

<div id="handwerk" class="affix_contentarea">
<h2>Inspiration ist unser Handwerk</h2>
    <p class="">
    Unsere Arbeit bedient sich vieler Werkzeuge. Eines davon kommt aus unserem Inneren: Inspiration. 
    </p>
    <p class="">
    Dafür braucht es offene Augen, einen wachen Geist und die Bereitschaft sich persönlich einzubringen – wir lieben unsere Arbeit und stellen uns gerne dieser Herausforderung.
    </p>
    <p class="">
    Mit der richtigen Idee geht es an die Ausarbeitung: Gedanken werden zu Papier gebracht, Modelle erstellt. Eine aufwändige Tätigkeit, die Genauigkeit, Sachkenntnisse und vor allem Zeit erfordert. Nach der Planung folgt die Umsetzung auf Basis moderner Technik und computergesteuerter Maschinen. 
    </p>
    <p class="">
    Unser Gespür und unsere Erfahrungswerte geben wir weiter und lassen sie in jeden Herstellungsprozess einfließen.
    </p>
</div>



<div id="zukunft" class="affix_contentarea">
    <h2>Tradition trifft auf Zukunft</h2>
    <p class="">
    Die Haselmaier Gruppe ist ein leuchtendes Beispiel dafür, wie sich klassisches Handwerk und innovative Technik miteinander verbinden lassen. 
    </p>
    <p class="">
    Die Tischlerei, mit der alles begann, bildet auch heute noch das Herzstück der Unternehmensgruppe und produziert mit viel Liebe zum Detail hochwertige Möbelstücke – unterstützt durch moderne, computergesteuerte Technik.
    </p>
    <p class="">
    Die Bereiche Leistellen, Wohn-Art und Elektrotechnik stellen eine logische Erweiterung dar: Die Unternehmensgruppe ist in der Lage, bereichsübergreifend zu arbeiten und dem Kunden innovative Lösungen zu bieten.
    </p>
</div>

                </div>



    <div class="col-md-3">
        
        <p />
        
        <p>
        <img src="{{STATIC_URL}}img/group/DSC_7777bt_72dpi.jpg" alt="" style="width:100%;" />
        </p>
    
        <blockquote>
          <p>
            Wie ein Baum verzweigt sich das Angebot der Haselmaier Group - von der Wurzel über den soliden Stamm
            hin zu den innovativsten Trieben.
            
          </p>
          <small>
          <cite>Wolfgang Haselmaier</cite>
          </small>
        </blockquote>


        {% block katalog %}
            {% include "haselsite/katalog.html" with logo="group_logo.png" link="https://www.yumpu.com/de/embed/view/Ke4k0ysE0YYK5TOz" %}
        {% endblock %}
        
        
        {% block blogs %}
            {% include "haselsite/sub_blogs.html" with entries=blogs %}
        {% endblock %}  
        
    </div>
    
    
    
</div>



{% endblock content_container %}