



<div style="border:1px solid #ccc; padding:.5em; padding-bottom:1.5em;transform: rotate(5deg); box-shadow: 5px 5px 5px #ccc; margin-top: 2em; margin-bottom: 2em;">
    <h3>Katalog online</h3>
    <a href="{{link}}">
        <img src="{{ STATIC_URL }}img/corporatedesign/{{logo}}" alt="" style="width:80%;" />
    </a>
    
</div>

<p>
    Lassen Sie sich von unserem Angebot inspirieren
    <a href="{{link}}">
        Katalog online öffnen
    </a>
</p>