
<div class="row">
{% for project in projects %}
    <div class="col-xs-3">
       <a href="#" class="footerinfo" data-toggle="modal" data-target="#projects_{{project.id}}">
        <div class="reference-filter reference-logo" data-text="urxn">
          <img src="{{ project.logo.url }}" alt=""  />
        </div>
      </a>
    </div>

<div class="modal fade" id="projects_{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="myModalLabel">{{ project.title }} </h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-3 reference-logo"><img src="{{ project.logo.url }}" alt=""  /></div>
            <div class="col-xs-3">
              <h3>JAHR</h3>
              <p>{{project.start_year}} {% if project.end_year %}- {{project.end_year}}{% endif %}</p>
            </div>
            <div class="col-xs-3">
              <h3>STANDORT</h3>
              <p>{{project.location}}</p>
            </div>
            <div class="col-xs-9 col-xs-offset-3">
              <h3>PROJEKTUMFANG</h3>
              <p>
                {{project.description}}
              </p>
            </div>
          </div>
          
          {% if project.image1 %}

          <div id="carousel-generic-{{project.id}}" class="carousel slide" data-interval="false" data-ride="carousel">
            
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {% if project.image1 %}
            <li data-target="#carousel-generic-{{project.id}}" data-slide-to="0" class="active"></li>
            {% endif %}

            {% if project.image2 %}
            <li data-target="#carousel-generic-{{project.id}}" data-slide-to="1"></li>
            {% endif %}

            {% if project.image3 %}
            <li data-target="#carousel-generic-{{project.id}}" data-slide-to="2"></li>
            {% endif %}
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {% if project.image1 %}
            <div class="item active">
              <img src="{{ project.image1.url }}" alt=""/>
              <div class="carousel-caption">
              </div>
            </div>
            {% endif %}

            {% if project.image2 %}
            <div class="item">
              <img src="{{ project.image2.url }}" alt=""/>
              <div class="carousel-caption">
              </div>
            </div>
            {% endif %}

            {% if project.image3 %}
            <div class="item">
              <img src="{{ project.image3.url }}" alt=""/>
              <div class="carousel-caption">
              </div>
            </div>
            {% endif %}
        
          </div>
        
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-generic-{{project.id}}" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-generic-{{project.id}}" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        {% endif %}


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
    </div>

{% endfor %}
</div>
