      
<div class="navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">haselmaier.at</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li {% if active = "tischlerei" %}class="active"{%endif%}><a href="{% url "tischlerei" %}">Tischlerei</a></li>
        
        <li class="leitstelle"><a href="https://dieleitstelle.at" target="_new">Leitstellen</a></li>

        <li {% if active = "e-technik" %}class="active"{%endif%}><a href="{% url "e_technik" %}">E-Technik</a></li>
        
        {% if  BLOG_ACTIVE %}
        <li {% if active = "blog" %}class="active"{%endif%}><a href="{% url "blog" %}">Stories</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
