{% extends "haselsite/bs3_subsite.html" %}

{% load gal thumbnail %}

{% block title %}Wohn-Art: Wohnen als Kunst{% endblock %}

{% block css_at_top %}
<link rel="stylesheet" href="{{STATIC_URL}}css/group.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/wohn-art.css">
{% endblock %}


{% block navigation %}
    {% include "haselsite/navigation.html" with active="wohn-art" %}
{% endblock %}



{% block jumbotron %}
<div id="jumbotron">


    <div id="logo_wrapper">
        <div class="col-xs-12 col-md-8 col-lg-6" id="logo">
            
            
            <a class="innerside-nav" href="#kunst" >
                <img src="{{ STATIC_URL }}img/corporatedesign/wohn-art_logo.png" alt="Haselmaier Wohn-Art Logo" style="width: 100%" />
                <br/>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            
        </div>
    </div>

</div>
{% endblock %}





{% block content_container %}

<div class="row">
    
    <div class="col-md-3 hidden-xs hidden-sm" id="contentScrollspy">
        <ul class="nav nav-tabs nav-stacked affix" id="myAffix"><!-- data-spy="affix"  data-offset-top="160" -->
            <li class="active"><a class="innerside-nav" href="#kunst">Wohn-Art</a></li>
            <li><a class="innerside-nav" href="#individuell">Individuell</a></li>
            <li><a class="innerside-nav" href="#projekte">Projekte</a></li>
        </ul>
    </div>
    
    
    <div class="col-md-6" id="start_affix_contentarea">
      
      <div id="kunst" class="affix_contentarea">
        <h1>Wohn-Art</h1>
      
        <h2>Wohnen als Kunst</h2>
        <p class="">
        Räume zu schaffen, in denen man sich wohlfühlt – das ist die Kunst. Als Innenarchitekt 
        planen wir Einrichtungen von A bis Z, von Fußböden über einzelne Möbel bis zum 
        individuellen Raumkonzept für das Büro oder Eigenheim. 
        Mit der eigenen Tischlerei setzen wir auch ausgefallene Ideen und raffiniertes Design um. 
        Für Möbel mit Charakter, welche die individuellen Wünsche unserer Kunden widerspiegeln, 
        und Wohnen Freude macht. Ein Leben lang.
        </p>
        



      </div>


      <div id="individuell" class="affix_contentarea">
        <h2>Innenarchitekt für individuelles Design</h2>
        <p class="">
          
          Zu Beginn steht die Vorstellung unserer Kunden. Unsere Aufgabe als Innenarchitekt ist es, 
          diese in die Realität zu übersetzen. Dafür fühlen wir uns in die Menschen ein und analysieren 
          genau die Gegebenheiten vor Ort: Welche Möglichkeiten gibt es? Wie können wir die 
          jeweiligen Wünsche in Bezug auf Möbel und Wohnen am besten umsetzen? Wie lassen sich 
          Licht, Farbe und Design im Sinne unseres Kunden kombinieren?
          
          Ein optimales, maßgeschneidertes Raumkonzept zu entwickeln und darin Kundenwünsche 
          und Bedürfnisse einzuweben - das ist die Herausforderung.
          </p>


        <div class="hidden-xs">
            <video width="100%" controls poster="http://assets.haselmaier.at/zeitraffer.jpg" id="bgvid" >
                  
                <!-- Serve video content via streaming server -->
                <source src="http://assets.haselmaier.at/zeitraffer.webm" type="video/webm">
                <source src="http://assets.haselmaier.at/zeitraffer.mp4" type="video/mp4">
                <source src="http://assets.haselmaier.at/zeitraffer.ogg" type="video/ogg">
            
            </video>
        
            <!--
            <img src="{{STATIC_URL}}img/wohn-art/IMG_6663-5.jpg" width="100%" alt="" />
            -->
            <p>
              Wir bringen Ideen zu Papier und schließlich in Ihr Zuhause.
            </p>
        </div>
        
        
      
      </div>


      <div id="projekte" class="affix_contentarea">
        <h2>Unsere Projekte</h2>
        
        
          <p class="">
            Unsere Projekte sind so zahlreich und so bunt wie unsere Kunden. 
          </p>
        
        {% comment %}  
          

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            
                <!--<div id="logo_wrapper">-->
                <!--    <div class="col-xs-12 col-md-8 col-lg-6" id="logo">-->
                <!--        <img src="img/vendor/wohnart_logo.png" alt="Haselmaier Wohn-Art Logo" style="width: 100%" />-->
                <!--    </div>-->
                <!--</div>-->
                
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
              </ol>
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="{{ STATIC_URL }}img/wohn-art/DSC_0441.jpg" alt="...">
                  <div class="carousel-caption">
                    Back to the roots
                  </div>
                </div>
            
                <div class="item">
                  <img src="{{ STATIC_URL }}img/wohn-art/IMG_6663-5.jpg" alt="...">
                  <div class="carousel-caption">
                    
                  </div>
                 </div> 
                  
                <div class="item">
                  <img src="{{ STATIC_URL }}img/wohn-art/DSC_0410.jpg" alt="...">
                  <div class="carousel-caption">
                    Cool Living 
                  </div>
                </div>
            
                <div class="item">
                  <img src="{{ STATIC_URL }}img/wohn-art/DSC_0520.jpg" alt="...">
                  <div class="carousel-caption">
                    <!--Waschtisch, &copy p-format.at-->
                  </div>
                </div>
                <div class="item">
                  <img src="{{ STATIC_URL }}img/wohn-art/DSC_0330.jpg" alt="...">
                  <div class="carousel-caption">
                    Eat in style
                  </div>
                </div>
            
              </div>
            
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
            
        {% endcomment %}


    
        {% include "gal/preview/gallery.html" with gallery='wohn-art' %}


    
    
{% comment %}

        <h1>test</h1>
        

<h3>TEST</h3>
{% get_category_pictures  "kuche" as pictures %}  

<div id="carousel-gal-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for item in pictures %}
    
    <li data-target="#carousel-gal-generic" data-slide-to="{{ forloop.counter0 }}"{% if not forloop.counter0 %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    
    {% for item in pictures %}
    {% thumbnail item.image "900x500" crop="center" as im %}
            
    <div class="item{% if not forloop.counter0 %} active{% endif %}">
      <img src="{{ im.url }}" alt="{{ item.title }}">
      <div class="carousel-caption">
         <h3>{{ item.title }}</h3>
      </div>
    </div>
    {% endthumbnail %}
    {% endfor %}
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-gal-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-gal-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
{% endcomment %}
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <h3>Wohn-Art auf Pinterest</h3>
          
        <p>
            Holen Sie
            sich ein paar Eindrücke bei der Design-Plattform Pinterest - vielleicht stoßen Sie so
            auch auf Ideen, bei denen wir Sie gerne unterstützen!
        </p>
        
        <a data-pin-do="embedUser" href="http://www.pinterest.com/wohnart/" data-pin-scale-width="200" data-pin-scale-height="300" data-pin-board-width="750">Haselmaier Wohn-Arts Profil bei Pinterest.</a>
        <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
      
      </div>


    
    </div>
    
    <div class="col-md-3">
        <p />
    

        
        
        {% block katalog %}
            {% include "haselsite/katalog.html" with logo="wohn-art_logo.png" link="https://www.yumpu.com/de/embed/view/sjEh1GBVhFXVMBdh" %}
        {% endblock %}
        
        
        {% block blogs %}
            {% include "haselsite/sub_blogs.html" with entries=blogs %}
        {% endblock %}
        
        
    </div>

</div>



{% endblock content_container %}


{% block footer%}
  {% include "haselsite/footer.html" with active="wohn-art" %}

{% endblock %}
