<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block head_title %}Management {% if title %}| {{ title }}{% endif %}{% endblock %}</title>
<!-- Bootstrap -->
<link href="{{STATIC_URL}}css/vendor/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
{% block body %}

{% block header %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
              data-target="#bs-main-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Management</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-main-navbar-collapse-1">
      <ul class="nav navbar-nav">
       {% if user.is_authenticated %}
        <li {% if headermenu = "gal" %}class="active"{% endif %}><a href="{% url 'management-list-galleries' %}">Gallery</a></li>
        
        <li class="dropdown pull-right">
          <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">Account <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
             <li class="divider"></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    
    </div><!--  /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock header %}
{% block layout %}
<div class="container-fluid">
    {% block content %}
    {% endblock content %}
</div>
{% endblock layout %}
{% endblock body %}
{% block offshore %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{STATIC_URL}}js/vendor/jquery-1.10.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{STATIC_URL}}js/vendor/bootstrap.min.js"></script>
{% endblock offshore %}
</body>
</html>