{% extends "gal/base.html" %}
{% load thumbnail i18n bootstrap3 %}

{% block content %}
<div class="row">
    
    
    
    <div class="col-md-3">
    {% include "gal/sidemenu.html" with galleries=galleries category=object %}
    </div>
    
    <div class="col-md-8">
    
    <h1>{% trans "Delete Category" %}</h1>
    <h2>{{ object.title }}</h2>
    
    <form class="form" 
          action="{% url 'management-delete-category' gallery=gallery.slug category=object.slug %}"
          method="POST">
    {% csrf_token %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% trans "Delete" %}
        </button>
    {% endbuttons %}
    </form>
    </div>
    
</div>
{% endblock content %}
